@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg: #cfe7e5;
	--primary: #ffffff;
	--secondary: #181818;
	--tertiary: #000000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #233137;
		--primary: #dddddd;
		--secondary: #1b1b1b;
		--tertiary: #ffffff;
	}
}
